/node_modules
/public/hot
/public/documents
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
/.idea/
/public/update/
docker-compose.developer.yml
docker/php-fpm/php.ini
mysql-data

acdrv/
adminer.php
crm/
iface/
index.html

/docker-compose.yml
