/node_modules
/public/hot
/public/documents
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
/.idea/
/public/update/

acdrv/
adminer.php
crm/
hello.php
iface/
index.html

